<table>
	<tr>
		<td>
			<!--
			<div id="p1" class="text-center">
				<h3 id="event-name"><b>UHAC</b> Cebu</h3>
				<small id="system-name"><b>SCORING SYSTEM</b></small>
			</div>
			-->
			<div id="p4" class="text-center">
				<p id="welcome-judge">JUDGING IS NOW OPEN</h3><br/>
				<small class="sub">Please enter your name</small>
			</div>

			<div id="p3" class="text-center">
				<br/>
				<br/>
				<form class="form">
        			<input placeholder="Enter Your Name here" type="text" id="input-container" class="form-control text-center" autofocus required><br/>
					<!-- <div class="loader">
						
					</div> -->
					<input id="register-button" class="btn" class="form-control" data-loading-text="Please Wait..." type="submit" value="SUBMIT">
        		</form>
			</div>
		</td>
	</tr>
</table> 


<!-- <script src="/javascripts/mdb.min.js"></script> -->
<script>
    $(function() { 
	    $(".btn").click(function(){
	    	if($('#input-container').val() == ""){

	    	}
	    	else{
		        $(this).button('loading').queue(function() {
		            
		        }); 
	    	}       
	    });
	});  
</script>
