<table>
	<tr>
		<td>
			<div id="p1">
				<!--
					READY FOR ANGULAR
					<span id="landing-event-name"><b>{{event_name}}</b></span><br/>
				-->
				<span id="landing-event-name"><b>UHAC</b> Cebu</span><br/>
				<br/><br/><small id="landing-sub-name"><b>SCORING SYSTEM</small>
			</div>
						
			<div id="center-logo">
				
			</div>
						
			<div id="p2">
				<small class="sub">POWERED BY</small><br/>
				<span id="company"><strong>RED Wizards Events Management</strong></span><br/>
				<small class="sub"><i>Created by </i></small>
				<span id="dev-grp">Canley Codes</span>
			</div>
		</td>
	</tr>
</table>