<table>
	<tr>
		<td>
			<div id="p1" class="text-center">
				<h1 id="event-name">JUDGING IS NOW OPEN</h1>
			</div>
						
			<div id="p3" class="text-center">
				<form class="form">
        			<input placeholder="Enter Your Name" type="text" id="input-container" class="form-control text-center" required><br/>
					<!-- <div class="loader">
						
					</div> -->
					<input id="register-button" class="btn" class="form-control" data-loading-text="Please Wait..." type="submit" value="SUBMIT">
        		</form>
			</div>
		</td>
	</tr>
</table> 


<!-- <script src="/javascripts/mdb.min.js"></script> -->
<script>
    $(function() { 
	    $(".btn").click(function(){
	    	if($('#input-container').val() == ""){

	    	}
	    	else{
		        $(this).button('loading').queue(function() {
		            
		        }); 
	    	}       
	    });
	});  
</script>
