<% layout('./layouts/main') -%>
<% block('title', 'RED Wizard Scoring System'); -%>
<% script('javascripts/admin-scoring.js') %>

		<!-- Here you may put some contents to the body tag -->
		<div class="container  container-table">
		    <div class="row vertical-center-row">
		    	<div class="col-md-4 col-md-offset-4">
		    		<center>
		    			<img src="/images/redlogo.png" style="width: 100%;" alt="">
		    		</center>
		    	</div>
		    </div>
		    <div class="row vertical-center-row">
		    	<div class="col-md-4 col-md-offset-4">
		    		<center>
		    			<h1>
		    				SAMPLE JUDGING - ADMIN VIEW
		    				<button class="btn btn-primary" onclick="startJudging()">
		    					START JUDGING
		    				</button>
			    		</h1>
		    		</center>
		    	</div>
		    </div>
		</div>