<% layout('./layouts/main') -%>
<% block('title', 'RED Wizard Scoring System'); -%>

		<!-- Here you may put some contents to the body tag -->
		<div class="container  container-table">
		    <div class="row vertical-center-row">
		    	<div class="col-md-4 col-md-offset-4">
		    		<center>
		    			<img src="/images/redlogo.png" style="width: 100%;" alt="">
		    		</center>
		    	</div>
		    </div>
		    <div class="row vertical-center-row">
		    	<div class="col-md-4 col-md-offset-4">
		    		<center>
		    			<h1>
		    				SCORING SYSTEM
			    		</h1>
			    		<h3>
			    			APPLICATION PROGRAM INTERFACE
			    		</h3>
		    		</center>
		    	</div>
		    </div>
		</div>