<% layout('./layouts/judge-layout') -%>
<% block('title', 'Error'); -%>

		<!-- Here you may put some contents to the body tag -->
		<h1><%= message %></h1>
		<p><%= error.status %></p>
		<pre><%= error.stack %></pre>
