			body{
				margin: -55px 100px auto;
				background-color: #b1bacf;
			}
			
			
			mainpage{
				margin: -500px 100px auto;
				text-align: center;
			}
			
			#input{
				margin: -40px 0px auto;
				text-align: center;
			}
			
			label{
				font-family: Helvetica Neue LT Std;
				color: white;
				padding-right: 90px;
			}
			
			button{
				width: 300px;
				height: 35px;
				border: 2px white solid;
				font-family: Gadugi;
				background-color: transparent;
				color: white;
				border-radius: 5px;
				}
			
			button:hover{
				background-color: #657a7b;
				opacity: .55;
			}
			
			input[type=text]{
				border-radius: 7px;
				border: none;
				width: 500px;
				height: 25px;
				padding: 5px 5px;
				text-align: center;
				font-family: Gadugi;
				opacity: 0.65;
			}
			
			table{
				padding-left: 100px;
			}
			
			#back{
				margin: 10px;
				text-align: center;
			}
			
			@font-face{
				font-family: Helvetica Neue LT Std;
				src: url("Helvetica Neue LT Std/HelveticaNeueLTStd-Bd.otf");
			}
			